@import '../pallete.styl'

*
input
select
option
textarea
button
  font-family -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif
  box-sizing border-box

html
body
  padding 0
  margin 0

html
  font-size 16px

body
  color MAASTRICHT_BLUE
  background-color WHITE_SMOKE
a 
  color DODGER_BLUE